<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand text-bold" href="#">
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/2x/external-quiz-online-education-flaticons-lineal-color-flat-icons.png" width="70" alt="logo">
            <span class="text-sentencecase display-6" style="font-family: Georgia, 'Times New Roman', Times, serif;font-weight:1500;color: white;">Online Test Application</span>
        </a>
    </div>
</nav>
